<h1>Transactions</h1>

<table>
  <tr>
    <th>Tag</th>
    <th>Merchant</th>
    <th>Currency</th>
    <th>Amount</th>
    <th>Time</th>
  </tr>
  <% for transaction in @transactions %>
  <tr>
    <td><a href="/transactions/<%=transaction.id %>"><%= transaction.get_tag().name %></a></td>
    <td><a href="/transactions/<%=transaction.id %>"><%= transaction.get_merchant().name %></a></td>
    <td><a href="/transactions/<%=transaction.id %>"><%= transaction.get_currency().short_name %></a></td>
    <td><a href="/transactions/<%=transaction.id %>"><%= transaction.amount %></a></td>
    <td><a href="/transactions/<%=transaction.id %>"><%= transaction.trx_time %></a></td>
    <td>
      <form method="get" action="/transactions/<%= transaction.id %>/edit">
        <input type="submit" value="Update Transaction" />
      </form>
    </td>
    <td>
      <form method="post" action="/transactions/<%= transaction.id %>/delete">
        <input type="submit" value="Delete Transaction" />
      </form>
    </td>
  </tr>
  <% end %>
  <tr>
    <td></td>
    <td></td>
    <td>Total Amount</td>
    <td><%= @total_amount %></td>
  </tr>
</table>
<form method="get" action="/transactions/new">
  <input type="submit" value="Create a New Transaction" name="name">
</form>
