<h1>Creating a new transaction</h1>

<form method="post" action="/transactions">

  <label for="tag-select">Tag:</label>
  <select name="tag_id" id="tag-select">
    <% for tag in @tags %>
    <option value="<%=tag.id %>" ><%=tag.name %></option>
    <%end %>
  </select>

  <label for="merchant-select">Merchant:</label>
  <select name="merchant_id" id="merchant-select">
    <% for merchant in @merchants %>
    <option value="<%=merchant.id %>" ><%=merchant.name %></option>
    <%end %>
  </select>

  <label for="currency-select">Currency:</label>
  <select name="currency_id" id="currency-select">
    <% for currency in @currencies %>
    <option value="<%=currency.id %>" ><%=currency.short_name %></option>
    <%end %>
  </select>

  <label for="amount">Amount:</label>
  <input id="amount" type="text" name="amount" />

  <label for="timestamp">Timestamp(YYYY-MM-DD):</label>
<%#  <input id="trx-time" type="text" name="trx_time" /> %>
  <input id="trx-time" type="date" name="trx_time">
<%#  <input type="time" name="trx_time"> %>

  <input type="submit" value="Create Transaction" />
</form>
