<h1>Currency Rate is</h1>

<table>
  <tr>
    <th>Source Currency</th>
    <th>Destination Currency</th>
    <th>Rate</th>
    <th>Date</th>
  </tr>
  <tr>
    <td><%= @currency_rate.get_source_currency().short_name %></td>
    <td><%= @currency_rate.get_destination_currency().short_name %></td>
    <td><%= @currency_rate.rate %></td>
    <td><%= @currency_rate.rate_date %></td>
  </tr>
</table>

<form method="post" action="/currency_rates/<%= @currency_rate.id %>/delete">
  <input type="submit" value="Delete Currency Rate" />
</form>

<form method="get" action="/currency_rates/<%= @currency_rate.id %>/edit">
  <input type="submit" value="Update Currency Rate" />
</form>
